* {
  /* margin: 0;
    padding: 0; */
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
img {
  width: 100px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 100vh; */
}
.container {
  margin: 0 5rem;

  position: relative;
  overflow: hidden;
  /* width: 800px; */
  width: 100%;
  /* min-height: 300px; */
}
.container .header {
  background-color: #e0e0e0;
}
.container .header .taikhoan {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.container .header .menu {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container .header .menu .menu1 {
  padding-right: 20px;
}
.container .header .menu .menu2 {
  padding-left: 20px;
}
.form {
  padding: 20px 20%;
  border: solid #e0e0e0 1px;
}
.nut {
  padding-top: 10px;
  padding-bottom: 10px;
}
h4 {
  padding-bottom: 20px;
}
input {
  width: 100%;
}
button {
  margin: 20px 20px 0 0;
  background-color: black;
  color: #e0e0e0;
  padding: 5px 5px 5px 5px;
  border: #255c45 1px;
}
button:hover {
  color: #e0e0e0;
  background-color: #255c45;
}
