/* HEADER */
* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.header {
    width: 100%;
    /* position: relative; */
}

.header .header-address {
    display: flex;
    justify-content: center;
}

.header .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
}

.header .header-main .header-search-bar {
    position: relative;
    width: 40%;
}

.background {
    background-color: #255C45 !important;
    color: white !important;
}

.radius-1 {
    border-radius: 2rem 0 0 2rem !important;
}

.radius-2 {
    border-radius: 0 2rem 2rem 0 !important;
}

/* .login-btn{
    background-color: black !important;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid black;
} */
#dropdownMenuButton1 {
    background-color:#255C45;
}

#custom-btn {
    background-color: black;
    border-radius: 2rem;
    border: 1px solid black;
}

.header-user-cart {
    display: flex;
}

.header-user-cart .cart {
    margin-left: 1rem;
    width: 2rem;
    display: flex;
    align-items: center;
}

#custom-padding {
    padding: 0 3rem;
}

#custom-padding-sm {
    padding: 0 1rem;
}

#custom-border {
    border-top: 1px solid lightgray;
}

.bg-body-custom {
    background-color: #255C45;
}

#clr-white {
    color: white;
}

/* timkiem */
#search-result{
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 200px; /* Set a maximum height for the results */
    overflow-y: auto; /* Add a vertical scrollbar if needed */
    background-color: #fff; /* Set a background color */
    z-index: 1000; /* Ensure the results appear above other content */
    width: 100%;
    /* border:2px solid #255C45; */
}
.search-result-box{
    border-bottom: 2px solid #255C45;
    display: flex;
    column-gap: 1rem;
    /* position: relative;
    z-index: 10; */
    /* position: absolute; */
}
.search-result-link{
    color:#255C45;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
.search-result-box .box-img{
    height: 70px;
}
/*  */
/* FOOTER */
footer {
    color: white;
    background-image: url('../images/505c86078071cfa05794264907521db9-scaled.jpg');
}

footer .holder-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer .holder-row .holder-col {
    width: 25%;
    padding: 2rem;
}

footer .holder-row .holder-col a {
    color: white;
    line-height: 2rem;
}

footer .holder-row .holder-col p {
    margin-top: 1rem;
}

.holder-col:nth-child(3),
.holder-col:nth-child(4),
.holder-col:nth-child(5) {
    display: flex;
    flex-direction: column;
}

.holder-col:nth-child(5) {
    align-items: flex-end;
}

.holder-col:nth-child(5)>div {
    margin-top: 1rem;
}



/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    /* border-radius: 5px; */
    /* border: 3px solid transparent; */
    /* background-clip: content-box; */
    background: linear-gradient(#00A86E, #EBFEF4, #a4f1ff);
}
/* ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234));
  } */

