.header{
    width:100%;
}
.header .header-address{
    display:flex;
    justify-content: center;
}
.header .header-main{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header .header-main > img{
    padding-left:6rem;
}
.header .header-main .header-search-bar{
    /* position: relative; */
    width:40rem;
}
.background{
    background-color: #255C45 !important;
    color:white !important;
}
.radius-1{
    border-radius: 2rem 0 0 2rem !important;
}
.radius-2{
    border-radius:0 2rem 2rem 0 !important;
}