
.container-quenmk {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  padding: 2rem 0;
  margin: 5rem 0 10rem 0;
}
.p{
  font-weight: bold;
}
.form-holder{
  display: flex;
  flex-direction: column;
}
.form-holder > input{
  margin-bottom: 1rem;
}
.form-holder > button{
  width:15rem;
  color:white;
  background-color: black;
}
.quenmk{
  background-color: white;
  transition: 0.3s;
}
.quenmk:hover{
  background-color: black;
  color:white;
}
