
.container-acount {
  padding: 0 5rem;

  position: relative;
  overflow: hidden;
  /* width: 800px; */
  max-width: 100%;
  min-height: 400px;
}
.container-acount .header {
  background-color: lightgray;
}
.container-acount .header .taikhoan {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.container-acount .header .menu {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container-acount .header .menu .menu1 {
  padding-right: 20px;
}
.container-acount .header .menu .menu2 {
  padding-left: 20px;
}
.menu1>a,.menu2>a{
  text-decoration: none;
  color:#255c45;
}
.sp {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.sp1 {
  text-align: center;
}
.sp1 > a{
  text-decoration: none;
  color:#255c45;
}
.sp1:hover {
  text-align: center;
  border: 1px solid;
}
.ten button {
  background-color: black;
  color: #e0e0e0;
  border: #255c45 1px;
  padding: 5px 5px 5px 5px;
}
.ten button:hover {
  background-color: #255c45;
  color: #e0e0e0;
  border: #255c45;
}
